// button.scss
.btn_group {
  display: flex;
  gap: 4px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.none {
    margin-bottom: 0;
  }
}
.btn {
  height: 34px;
  padding: 0 12px;
  font-size: 12px;
  border: 1px solid var(--gray-200);
  background: var(--white);

  &.active {
    border: 1px solid var(--gray-400);
  }
}

button {
  &:disabled {
    color: var(--gray-400) !important;
    background: var(--gray-200) !important;
    cursor: not-allowed;
  }
}
